# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment Variables
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
backend/storage/images/*
!backend/storage/images/.gitkeep
backend/storage/metadata.db
backend/temp/

# Node/Frontend
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db
